{% block title %}{% endblock %}

{% block body %}
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Categories list:
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            {% for category in categories %}
                <button class="dropdown-item" type="button">{{ category.id }} . {{ category.categoryName }}</button>
            {% endfor %}
        </div>
    </div>
{% endblock %}
