{% block body %}
    {% for comment in comments %}
        <div class="card">
            <div class="card-header text-muted">
                <small>
                    <a href="{{ path('user_by_id', {"id":comment.user.id}) }}">{{ comment.user.username }}</a>
                    commented on {{ comment.addedAt|date("M j, Y") }}
                </small>
            </div>
            <div class="card-body card-text">
                <p>{{ comment.content }}</p>
            </div>
        </div></br>
    {% endfor %}
{% endblock %}
